<app-navbar></app-navbar>
<app-carousel></app-carousel>
<br>
<h1 class="text-5xl text-center">About Us</h1>
<br>
<div><p class="text-center">Doryoku (努⼒) is a Japanese word that means "effort" or
    "endeavor". It is a concept deeply ingrained in Japanese culture
    and is often associated with the idea of "Ganbaru", which
    roughly translates to "doing one's best" or "persevering".
    We have taken from Japanese culture for there is a strong
    emphasis on the value of hard work and persistence and
    Doryoku Holdings is seen as an important part of achieving
    success in various aspects of life. The idea is that one can
    overcome obstacles and achieve their desired outcomes through
    consistent effort and dedication. We value the workplace, where
    employees are expected to work diligently and take on
    challenges with a positive attitude.
    This became one of the core reasons for the birth of Doryoku
    Holdings.
    Making "Doryoku" a fundamental concept in our holding
    company as a culture that reflects the importance placed on
    hard work, perseverance and dedication as keys to achieving
    success.</p></div>
    <br>
<div class="flex flex-wrap -m-3"> 
 <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="bg-cover h-48" style="background-image: url(../../../../assets/panel-solar-power-energy.jpeg);"></div>
      <div class="p-4 flex-1 flex flex-col">
        <h3 class="mb-4 text-2xl">Generator and Solar Panel Sales</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
          <p>We offer a selection of highquality generators and solar panels tailored to our clients' energy
            requirements. Our experts assist in selecting the right equipment,
            ensuring reliable power generation and harnessing solar energy for
            optimal efficiency.
            </p>
    
    </div>  
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="bg-cover h-48" style="background-image: url(../../../../assets/power\ systems.jpeg);"></div>
      <div class="p-4 flex-1 flex flex-col" >
        <h3 class="mb-4 text-2xl">Power Electronics Systems</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
        <p>Leverage our expertise in designing
            and developing power electronics systems, including inverters,
            converters, and motor drives. These systems efficiently convert and
            control electrical energy, enabling precise energy management for
            a wide range of purposes.</p>
       
    </div>  
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="bg-cover h-48" style="background-image: url(../../../../assets/istockphoto-505206818-612x612.jpeg);"></div>
      <div class="p-4 flex-1 flex flex-col">
        <h3 class="mb-4 text-2xl">Rebuild and Major Maintenance</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
          <p>Our skilled technicians provide
            rebuilding and major maintenance services for generators,
            ensuring they operate at peak performance levels. We offer
            comprehensive assessments, repairs, and replacements to extend
            the lifespan and efficiency of your equipment.</p>
     
    </div>  
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="bg-cover h-48" style="background-image: url(../../../../assets/plumbing-840835_1280.jpeg);"></div>
      <div class="p-4 flex-1 flex flex-col" 
>
        <h3 class="mb-4 text-2xl">Plumbing Installations and Upgrades</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
          <p>Our experienced plumbers
            handle a wide range of plumbing installations, from new
            construction projects to upgrades and renovations. We ensure that
            your plumbing systems are efficiently designed and installed,
            meeting the highest industry standards</p>
       
    </div>  
  </div>
  <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
    <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
      <div class="bg-cover h-48" style="background-image: url(../../../../assets/connection-1239367_1280.jpeg);"></div>
      <div class="p-4 flex-1 flex flex-col">
        <h3 class="mb-4 text-2xl">Emergency Plumbing Services</h3>
        <div class="mb-4 text-grey-darker text-sm flex-1">
          <p>Our rapid response team is
            available 24/7 to address urgent plumbing issues. Whether it's a
            burst pipe, a severe leak, or other plumbing emergencies, we
            provide prompt and reliable solutions to minimize disruptions and
            prevent further damage.
            </p>
       
    </div>  
  </div>
  
    
</div>
<div class="container my-12 mx-auto px-2 md:px-4">

    <section class="mb-32">

        <div class="flex justify-center">
            <div class="text-center md:max-w-xl lg:max-w-3xl">
                <h2 class="mb-12 px-6 text-3xl font-bold">
                    Contact us
                </h2>
            </div>
        </div>

        <section class="bg-white dark:bg-gray-900">
            <div class="container px-6 py-12 mx-auto">
        
                <div class="grid grid-cols-1 gap-12 mt-10 md:grid-cols-2 lg:grid-cols-3">
                    <div class="flex flex-col items-center justify-center text-center">
                        <span class="p-3 text-black-500 rounded-full bg-green-100/80 dark:bg-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                            </svg>
                        </span>
        
                        <h2 class="mt-4 text-lg font-medium text-gray-800 dark:text-white">Email</h2>
                        <p class="mt-2 text-gray-900 dark:text-gray-400">Our team is here to help.</p>
                        <p class="mt-2 text-gray-500 dark:text-gray-400">info@doryokuholdings.org</p>
                    </div>
        
                    <div class="flex flex-col items-center justify-center text-center">
                        <span class="p-3 text-black-500 rounded-full bg-green-100/80 dark:bg-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                            </svg>
                        </span>
                        
                        <h2 class="mt-4 text-lg font-medium text-gray-800 dark:text-white">Office</h2>
                        <p class="mt-2 text-gray-900 dark:text-gray-400">Come say hello at our office.</p>
                        <p class="mt-2 text-gray-500 dark:text-gray-400">15 Anywhere Road, Dalpark 1 Bralpan 1550</p>
                    </div>
        
                    <div class="flex flex-col items-center justify-center text-center">
                        <span class="p-3 text-black-500 rounded-full bg-green-100/80 dark:bg-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                            </svg>
                        </span>
                        
                        <h2 class="mt-4 text-lg font-medium text-gray-800 dark:text-white">Phone</h2>
                        <p class="mt-2 text-gray-900 dark:text-gray-400">Mon-Fri from 8am to 5pm.</p>
                        <p class="mt-2 text-gray-500 dark:text-gray-400">+27 79 377 0798</p>
                    </div>
                </div>
            </div>
        </section>
    </section>
</div>
<app-footer></app-footer>