<nav id="header" class="w-full z-30 top-0 bg-white">
  <div class=" mx-auto flex flex-wrap justify-between ">

      <label for="menu-toggle" class="cursor-pointer md:hidden  order-2 md:order-3 flex items-center mr-4" >
          <svg class=" fill-current text-black " xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
              <title>menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
      </label>
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden md:flex md:items-center md:w-auto w-full order-3 mr-96" id="menu">
          <nav>
              <ul class="md:flex items-center  text-base text-black pt-4 md:pt-0">
                  <li><a class=" items-center no-underline hover:text-black hover:underline py-2 px-4 " href="#">Home</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4 " routerLink="/service" routerLinkActive="active">Services</a></li>
                  <li><a class=" items-center no-underline hover:text-black hover:underline py-2 px-4 whitespace-nowrap"  routerLink="/team" routerLinkActive="active">The Team</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4 whitespace-nowrap" >Contact Us</a></li>
                  
                  
              </ul>
          </nav>
      </div>
         
             <img src="../../assets/Doryoku Holdings Logo (On White).png" alt="" class="h-24 w-48 mr-8">
      
  </div>

</nav>


