<nav id="header" class="w-full z-30 top-0 bg-white">
  <div class=" mx-auto flex flex-wrap justify-between ">
      <input class="hidden" type="checkbox" id="menu-toggle" />

      <div class="hidden md:flex md:items-center md:w-auto w-full order-3 mr-96" id="menu">
          <nav>
              <ul class="md:flex items-center  text-base text-black pt-4 md:pt-0">
                  <!-- <li><a class=" items-center no-underline hover:text-black hover:underline py-2 px-4 " href="#">Home</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4 " routerLink="/service" routerLinkActive="active">Services</a></li> -->
                  <!-- <li><a class=" items-center no-underline hover:text-black hover:underline py-2 px-4 whitespace-nowrap"  routerLink="/team" routerLinkActive="active">The Team</a></li>
                  <li><a class="inline-block no-underline hover:text-black hover:underline py-2 px-4 whitespace-nowrap" >Contact Us</a></li> -->
                  
                  
              </ul>
          </nav>
      </div>
         
             <img src="../../assets/Doryoku Holdings Logo (On White).png" alt="" class="h-24 w-48 mr-8">
      
  </div>

</nav>


