<app-navbar></app-navbar>
<br>
<div class="flex flex-wrap -m-3"> 
  
  
  
  
  
  
    <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
       <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
         <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1486506574467-c44963fc7876?w=900);"></div>
         <div class="p-4 flex-1 flex flex-col">
           <h3 class="mb-4 text-2xl">Generator and Solar Panel Sales</h3>
           <div class="mb-4 text-grey-darker text-sm flex-1">
             <p>We offer a selection of highquality generators and solar panels tailored to our clients' energy
               requirements. Our experts assist in selecting the right equipment,
               ensuring reliable power generation and harnessing solar energy for
               optimal efficiency.
               </p>
           </div>
           <a href="#" class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide"></a>
         </div>
       </div>  
     </div>
     <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
       <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
         <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1486506574467-c44963fc7876?w=900);"></div>
         <div class="p-4 flex-1 flex flex-col" >
           <h3 class="mb-4 text-2xl">Power Electronics Systems</h3>
           <div class="mb-4 text-grey-darker text-sm flex-1">
           <p>Leverage our expertise in designing
               and developing power electronics systems, including inverters,
               converters, and motor drives. These systems efficiently convert and
               control electrical energy, enabling precise energy management for
               a wide range of purposes.</p>
           </div>
           <a href="#" class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide"></a>
         </div>
       </div>  
     </div>
     <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
       <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
         <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1486506574467-c44963fc7876?w=900);"></div>
         <div class="p-4 flex-1 flex flex-col">
           <h3 class="mb-4 text-2xl">Rebuild and Major Maintenance</h3>
           <div class="mb-4 text-grey-darker text-sm flex-1">
             <p>Our skilled technicians provide
               rebuilding and major maintenance services for generators,
               ensuring they operate at peak performance levels. We offer
               comprehensive assessments, repairs, and replacements to extend
               the lifespan and efficiency of your equipment.</p>
           </div>
           <a href="#" class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide"></a>
         </div>
       </div>  
     </div>
     <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
       <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
         <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1486506574467-c44963fc7876?w=900);"></div>
         <div class="p-4 flex-1 flex flex-col" 
   >
           <h3 class="mb-4 text-2xl">Plumbing Installations and Upgrades</h3>
           <div class="mb-4 text-grey-darker text-sm flex-1">
             <p>Our experienced plumbers
               handle a wide range of plumbing installations, from new
               construction projects to upgrades and renovations. We ensure that
               your plumbing systems are efficiently designed and installed,
               meeting the highest industry standards</p>
           </div>
           <a href="#" class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide"></a>
         </div>
       </div>  
     </div>
     <div class="w-full sm:w-1/2 md:w-1/3 flex flex-col p-3">
       <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
         <div class="bg-cover h-48" style="background-image: url(https://images.unsplash.com/photo-1486506574467-c44963fc7876?w=900);"></div>
         <div class="p-4 flex-1 flex flex-col">
           <h3 class="mb-4 text-2xl">Emergency Plumbing Services</h3>
           <div class="mb-4 text-grey-darker text-sm flex-1">
             <p>Our rapid response team is
               available 24/7 to address urgent plumbing issues. Whether it's a
               burst pipe, a severe leak, or other plumbing emergencies, we
               provide prompt and reliable solutions to minimize disruptions and
               prevent further damage.
               </p>
           </div>
           <a href="#" class="border-t border-grey-light pt-2  text-xs text-grey hover:text-red uppercase no-underline tracking-wide"></a>
         </div>
       </div>  
     </div>
     
       
   </div>
   <br>

  <app-footer></app-footer>