<app-navbar></app-navbar>
<div class="ml-10">
    <div class="card-container">
        <div class="card">
        <div class="front-content">
          <p>Generator and Solar Panel Sales</p>
        </div>
        <div class="content">
          <p class="heading">Card Hover</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipii
            voluptas ten mollitia pariatur odit, ab
            minus ratione adipisci accusamus vel est excepturi laboriosam magnam
            necessitatibus dignissimos molestias.
          </p>
        </div>
      </div>
      </div>
</div>

  <app-footer></app-footer>