<app-navbar></app-navbar>
<br>
<div class="grid lg:grid-cols-4">
    <div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg">
        <img class="w-full h-48"
            src="../../../../assets/panel-solar-power-energy.jpeg"
            alt="product" />
        <div class="px-6 py-4">
            <h4 class="mb-3 text-xl font-semibold tracking-tight text-black-300">Generator and Solar Panel Sales</h4>
            <p class="leading-normal text-black-300">We offer a selection of highquality generators and solar panels tailored to our clients' energy
                requirements. Our experts assist in selecting the right equipment,
                ensuring reliable power generation and harnessing solar energy for
                optimal efficiency.</p>
        </div>
    </div>
    <div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg">
        <img class="w-full h-48"
            src="../../../../assets/power systems.jpeg"
            alt="product" />
        <div class="px-6 py-4">
            <h4 class="mb-3 text-xl font-semibold tracking-tight text-black">Power Electronics Systems</h4>
            <p class="leading-normal text-black-300">Leverage our expertise in designing
                and developing power electronics systems, including inverters,
                converters, and motor drives. These systems efficiently convert and
                control electrical energy, enabling precise energy management for
                a wide range of purposes.</p>
        </div>
    </div>
    <div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg">
        <img class="w-full h-48"
            src="../../../../assets/istockphoto-505206818-612x612.jpeg"
            alt="product" />
        <div class="px-6 py-4">
            <h4 class="mb-3 text-xl font-semibold tracking-tight text-black">Rebuild and Major Maintenance</h4>
            <p class="leading-normal text-black-300">Our skilled technicians provide
                rebuilding and major maintenance services for generators,
                ensuring they operate at peak performance levels. We offer
                comprehensive assessments, repairs, and replacements to extend
                the lifespan and efficiency of your equipment.</p>
        </div>
    </div>
    <div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg">
        <img class="w-full h-48"
            src="../../../../assets/plumbing-840835_1280.jpeg"
            alt="product" />
        <div class="px-6 py-4">
            <h4 class="mb-3 text-xl font-semibold tracking-tight text-black">Plumbing Installations and Upgrades</h4>
            <p class="leading-normal text-black-300">Our experienced plumbers
                handle a wide range of plumbing installations, from new
                construction projects to upgrades and renovations. We ensure that
                your plumbing systems are efficiently designed and installed,
                meeting the highest industry standards.</p>
        </div>
    </div>
    <div class="max-w-xs mx-4 mb-2 rounded-lg shadow-lg">
        <img class="w-full h-48"
            src="../../../../assets/connection-1239367_1280.jpeg"
            alt="product" />
        <div class="px-6 py-4">
            <h4 class="mb-3 text-xl font-semibold tracking-tight text-black-300">Emergency Plumbing Services</h4>
            <p class="leading-normal text-black-300">Our rapid response team is
                available 24/7 to address urgent plumbing issues. Whether it's a
                burst pipe, a severe leak, or other plumbing emergencies, we
                provide prompt and reliable solutions to minimize disruptions and
                prevent further damage.</p>
        </div>
    </div>
</div>
<br>
  <app-footer></app-footer>